header {

  height: 60vw;
  min-height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;


  position: relative;
  overflow: hidden;

  text-align: center;


  .contenu {
    position: relative;
    z-index: 1;

    color: white;
  }


  picture img {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  h1 {
    margin-top: 0;
  }


}



@media screen and (min-width: 992px) {

  header {


    min-height: 80vh;

  }



}
